<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title> cookie store </title>
</head>
<body>
    <div class="cart">
        <% let sum = 0 %>
        <% let set = [] %>
        <% for(const item of products){ %>
            <% if(!set.includes(item.ID)){ %>
                <% let count = 0 %>
                <% set.push(item.ID) %>
                <% products.forEach(elem => { %>
                    <% if(elem.ID === item.ID){ %>
                    <%    count++ %>
                    <% } %>
                <% }) %>
                <div class="cart-item">
                    <span class="username"><%= item.NAME %> x <%= count %></span>
                    <span class="username"><%= (+item.PRICE)*(count) %>$</span>
                    
                    <form method="post" action="https://localhost:1024/cart" class="modify-form">
                        <input type="hidden" name="productID" value="<%= item.ID %>">
                        <input type="hidden" name="action" value="add">
                        <button type="submit">+</button>
                    </form>
                    <form method="post" action="https://localhost:1024/cart" class="modify-form">
                        <input type="hidden" name="productID" value="<%= item.ID %>">
                        <input type="hidden" name="action" value="remove">
                        <button type="submit">-</button>
                    </form>
                </div>
                <% sum += (+item.PRICE)*count %>
            <% } %>
        <% } %>
        <a class="username">sum is <%= sum %>$</a>
        <% if(sum > 0) { %>
        <form method="get" action="https://localhost:1024/order">
            <button class="logo">
                place order
            </button>
        </form>
        <% } %>
        <form method="get" action="https://localhost:1024/">
            <button class="logo">
              go back
            </button>
        </form>
    </div>
</body>
</html>
